[package]
name = "sgx"
version = "0.1.0"
authors = ["Lily Sturmann <lsturman@redhat.com>", "Nathaniel McCallum <npmccallum@redhat.com>"]
license = "Apache-2.0"
edition = "2018"
homepage = "https://github.com/enarx/sgx"
repository = "https://github.com/enarx/sgx"
description = "Library for Intel SGX"
readme = "README.md"
keywords = ["intel", "sgx"]
categories = ["os", "os::linux-apis", "parsing", "network-programming", "hardware-support"]
exclude = [ ".gitignore", ".github/*" ]

[badges]
# See https://doc.rust-lang.org/cargo/reference/manifest.html#the-badges-section
github = { repository = "enarx/sgx", workflow = "test" }
#github = { repository = "enarx/sgx", workflow = "lint" }
maintenance = { status = "actively-developed" }
is-it-maintained-issue-resolution = { repository = "enarx/sgx" }
is-it-maintained-open-issues = { repository = "enarx/sgx" }

[features]
default = []
crypto = ["std", "openssl" ]
chain_get = [ "std", "percent-encoding", "reqwest"]
std = ["iocuddle", "libc", "mmarinus", "vdso"]
asm = ["xsave/asm"]
serialize = [ "serde", "serde-big-array" ]

[dependencies]
serde = { version = "1.0", features = ["derive"], optional = true }
serde-big-array = { version = "0.3.1", optional = true }
xsave = { version = "0.1.1", default-features = false }
iocuddle = { version = "0.1", optional = true }
mmarinus = { version = "0.2", optional = true }
openssl = { version = "0.10", optional = true }
percent-encoding = { version = "2.1.0", optional = true }
reqwest = { version = "0.11.0", features = ["blocking"], optional = true }
libc = { version = "0.2", optional = true }
vdso = { version = "0.1", optional = true }
primordial = "0.1"
bitflags = "1.2"
lset = "0.1"

[dev-dependencies]
rstest = "0.10"
memoffset = "0.6.1"

[build-dependencies]
cc = "1.0"
